.navbar {
  background: var(--card);
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mobile-menu {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}

.mobile-menu.active {
  max-height: 300px;
}


.logo {
  font-size: 20px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 18px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

.toggle {
  cursor: pointer;
  font-size: 18px;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 65px;
    right: 16px;
    background: var(--card);
    flex-direction: column;
    padding: 16px;
    border-radius: 14px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
